/* CSS Reset */

body{
    font-family: 'Baloo Bhaina 2', cursive;
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


/* Utility classes */

.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
}


/* Navigation Bar */

#navbar{
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%; 
    z-index: -1;
    opacity: 0.81;
}

#navbar img{
    width:150px;
    height:150px;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaina 2', cursive;
    padding: 0px;      
}

#navbar ul li {
    list-style: none;
    margin-bottom: 7px;
}

#navbar ul li a{
    color:whitesmoke;
    display: block;
    /* border: 2px solid black; */
    border-radius: 12px;
    font-size: 1.18rem;
    text-decoration: none;
    margin: 19px;
}

#navbar ul li a:hover{
    color:black;
    background-color: yellow;
}


/* About section */

#about{
    font-family:'Baloo Bhaina 2', cursive ;
    font-weight:900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 660px;
    padding-top: 90px;
    /* color: whitesmoke; */
    color:rgb(211, 211, 211);
}

#about::before{
     content:"";
     background:url('../images/adult-athlete.jpg') no-repeat  center/cover;
     width:100%;
     height:780px;
     position: absolute;
     top:0px;
     left:0px;
     z-index:-2;
     opacity:0.81;
}

#btn{
    padding: 6px 20px;
    border: 2px solid white;
    color: white;
    background-color:rgb(80, 80, 134);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

#btn:hover{
    background-color:rgb(27, 27, 155);
}
#btn a{
    color: honeydew;
    text-decoration: none;
}


/* register.html */

#register-form{
    /* height: 780px; */
    color:honeydew;
}

#register::before{
    content:"";
    background: url('../images/gex1.jpg') no-repeat center center/cover;
    width:100%;
    height: 950px;
    position: absolute;
    top:0px;
    left:0px;
    z-index:-1;
    opacity: 0.9;
}

#logo{
    display:flex;
    width: 100%;
    align-items: center;
}

#logo img{
    height: 160px;
    width: auto;
}

#logo h2{
    font-size: 1.6rem;
    color: ivory;
}

#register-form input{
    outline: none;
    width: 90%;
    padding: 0.2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    margin: 0.2rem;
} 

.form-group input[type='submit']{
    margin-top:0.9rem;
}

.form-group input[type='submit']:hover{
    color:white;
    background-color: maroon;
}

#register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 780px;
}

#benefits{
    border: 2px solid black;
    height: auto;
    width: 250px;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 0px 9px;
    margin-left: 60px;
    background-color:rgb(100, 97, 98);
}

/* Mentors section*/

#mentors{
    position: relative;
}

#mentors::before{
    content:"";
    background: url('../images/bg.jpg') no-repeat center center/cover;
    width:100%;
    height: 820px;
    position: absolute;
    top:0px;
    left:0px;
    z-index:-2;
    opacity:0.9;
}

#mentor-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 640px;
    width: 380px;
    border-radius: 20px;
    margin:20px;
    text-align: center;
    background-color:rgb(179, 164, 221);
}

#box1 img{
    height: 150px;
    width:220px;
}

#box2 img{
    height: 150px;
    width:220px;
}

#box3 img{
    height: 163px;
    width:150px;
}

#box4 img{
    height: 163px;
    width:150px;
}


/* Copyright section */

#footer{
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    bottom: 0px; 
}



/* 
@media only screen and (min-width:750px) and(max-width:1300px){
    .menu-box img{
        width:90%;
        height: auto;
        margin-bottom: 6px;
    }
} */
